<!DOCTYPE html>
<html ng-app="module.auth" lang="en">
    <head>
        <title>BluP Login</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/js/module.auth.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-controller="module.auth.controller as auth" class="container">
        <header>
            <nav class="navbar navbar-static-top navbar-light bg-faded">
                <span role="presentation" class="logo"><a class="dashboard" href="."><img src="images/logo.png" /></a></span>
            </nav>
        </header>
        <section id="tabs">
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="login" role="tabpanel" class="tab-pane active">
                    <form ng-submit="auth.login.submit($event)">
                        <h1 class="text-center">Log In</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="text" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Password" class="form-control" type="password" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                                                <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
                        <input class="btn btn-primary" type="submit" value="Login">
                    </form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation">
                          <a href="#register" class="active" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a>
                      </li>
                    </ul>
                </div>
                <div id="register" role="tabpanel" class="tab-pane">
                    <form ng-submit="auth.register.submit($event)">
                        <h1 class="text-center">Sign Up</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input required placeholder="Username" class="form-control" type="text" ng-model="auth.payload.username"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="text" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Create a password" class="form-control" type="password" ng-required="" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                        <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>
