<!DOCTYPE html>
<html ng-app="module.auth">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/auth.css">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/js/module.auth.js"></script>
    </head>
    <body ng-controller="module.auth.controller as auth" class="container">
        <p class="text-center">
            <a class="btn btn-default" href="/">Homepage</a>
        </p>
        <section id="tabs">
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="login" role="tabpanel" class="tab-pane active">
                    <form ng-submit="auth.login.submit($event)">
                        <h1 class="text-center">Login!</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="text" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Password" class="form-control" type="password" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                        <input class="btn btn-primary" type="submit" value="Login">
                        <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
                    </form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation">
                          <a href="#register" class="active" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a>
                      </li>
                    </ul>
                </div>
                <div id="register" role="tabpanel" class="tab-pane">
                    <form ng-submit="auth.register.submit($event)">
                        <h1 class="text-center">Sign Up!</h1>
                        <fieldset class="form-group">
                            <label class="sr-only" for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input required placeholder="Username" class="form-control" type="text" ng-model="auth.payload.username"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="age">Age</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-gift"></span></div>
                                <div class="dropdown" ng-model="auth.payload.age">
                                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"> Age
                                  <span class="caret"></span></button>
                                  <select class="dropdown-menu">
                                    <option ng-repeat="item in items" value="{{item}}">{{item}}</option>
                                  </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input required placeholder="Email" class="form-control" type="text" ng-model="auth.payload.email"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input required placeholder="Create a password" class="form-control" type="password" ng-model="auth.payload.password"/>
                            </div>
                        </fieldset>
                        <button class="btn btn-primary" type="submit">Register</button>
                        <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
                    </form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>
