<!DOCTYPE html>
<html ng-app="module.dashboard"  lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>BLUP</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/js/controller.beacons.js"></script>
        <script src="/js/factory.dashboard.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body ng-controller="BeaconController as beaconCtrl">
      <div class="beacon-item">
        <div class="title" ng-repeat="object in beaconCtrl.artifacts | filter: {id: 3054}:true">
          <hr>
          <h2 class="card-title text-xs-center">{{object.title}}</h2>
          <div class="card-block">
            <div class="card">
                <img class="card-img-top img-fluid" style="margin:0 auto;" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size2/{{object.primary_image}}" alt="Card image cap">
                <div class="card-block text-xs-center">
                    <h4 class="card-subtitle">{{object.object_date}}</h4>
                    <h5 class="list-group-item-text">{{object.medium}}</h5>
                    <h6 class="list-group-item-text">{{object.artists.name}}</h6>
                    <p class="card-text">{{object.description}}</p>
                <div class="card-footer">
                  <h5>Share</h5>
                  <div class="social">
                    <span class="fa fa-google-plus-square fa-3x" href="#"></span>
                    <span class="fa fa-facebook-square fa-3x" href="#"></span>
                    <span class="fa fa-linkedin-square fa-3x" href="#"></span>
                    <span class="fa fa-pinterest-square fa-3x" href="#"></span>
                    <span class="fa fa-reddit-square fa-3x" href="#"></span>
                    <span class="fa fa-twitter-square fa-3x" href="#"></span>
                  </div>
                </tr>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group search">
        <input type="text" class="form-control" placeholder="Search" aria-label="Text input with dropdown button" ng-model="search.artifacts">
        <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exhibits</button>
            <div class="dropdown-menu" ng-model="queryBy">
              <a class="dropdown-item" href="#">Exhibits</a>
              <a class="dropdown-item" href="#">Artifacts</a>
            </div>
        </div>
      </div>
      <tr ng-model="data.$" ng-repeat="data in beaconCtrl.artifacts | filter:search">
        <div class="card-columns">
          <div class="card">
            <div class="card-block">
              <td>{{data.title}}</td>
              <td>{{data.description}}</td>
            </div>
          </div>
        </div>
      </tr>
    </div>
  </body>
</html>
