<!DOCTYPE html>
<html ng-app="module.dashboard"  lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>BLUP</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/beacon.css" />


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/js/controller.beacons.js"></script>
        <script src="/js/factory.dashboard.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body ng-controller="BeaconController as beaconCtrl">
      <div class="beacon-item">
        <div class="title" ng-repeat="object in beaconCtrl.artifacts | filter: {id: 3054}:true">
          <hr>
          <h2 class="card-title text-xs-center">{{object.title}}</h2>
          <div class="card-block">
            <div class="card">
                <img class="card-img-top img-fluid" style="margin:0 auto;" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size2/{{object.primary_image}}" alt="Card image cap">
                <div class="card-block text-xs-center">
                    <h4 class="card-subtitle">{{object.object_date}}</h4>
                    <h5 class="list-group-item-text">{{object.medium}}</h5>
                    <h6 class="list-group-item-text">{{object.artists.name}}</h6>
                    <p class="card-text">{{object.description}}</p>
                <div class="card-footer">
                  <h5>Share</h5>
                  <div class="social">
                    <span class="fa fa-google-plus-square fa-3x" href="#"></span>
                    <span class="fa fa-facebook-square fa-3x" href="#"></span>
                    <span class="fa fa-linkedin-square fa-3x" href="#"></span>
                    <span class="fa fa-pinterest-square fa-3x" href="#"></span>
                    <span class="fa fa-reddit-square fa-3x" href="#"></span>
                    <span class="fa fa-twitter-square fa-3x" href="#"></span>
                  </div>
                </tr>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Search Exhibit Information -->
      <div ng-controller="BeaconController as search" class="input-group search">
        <div class="input-group-lg">
          <input type="text" placeholder="Search Museum Collections" id="query" ng-model="query" onfocus="pxtrack.emit('counter', '1')"/>
          <div class="input-group-btn">
            <select type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="orderList" onchange="pxtrack.emit('counter', '2')">
                <option class="dropdown-item" value="title">By title</option>
                <option class="dropdown-item" value="-object_date">Newest</option>
                <option class="dropdown-item" value="object_date">Oldest</option>
            </select>
          </div>
        </div>
        <div class="card-group">
          <div ng-repeat="data in search.artifacts | filter:query | orderBy: orderList">
            <div class="card">
              <img class="card-img-top img-fluid" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size2/{{data.primary_image}}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{data.title}}</h4>
                    <h6 class="card-subtitle">{{data.object_date}}</h6>
                    <h6 class="subtitle">{{data.medium}}</h6>
                    museum location: <br/>
                    <div class="card-footer">
                      <i>{{data.museum_location.name}}</i>
                      <button class="btn btn-primary">More</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
