<!DOCTYPE html>
<html ng-app="module.dashboard">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/js/module.dashboard.js"></script>
    </head>
    <body ng-controller="DashboardController as dashboard" class="container">
      <section id="wrapper" class="container">
          <header>
              <nav class="navbar navbar-default">
                  <span role="presentation" class="logo"><a href="#dashboard"><img src="images/logo.png" /></a></span>
                  <div class="dropdown">
                    <button class="btn btn-primary btn-info btn-lg visible-xs visible-sm dropdown-toggle glyphicon glyphicon-th" type="button" data-toggle="dropdown"> Menu
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="drop-menu-item"><a href="#">Profile</a></li>
                      <li class="drop-menu-item"><a href="#">Map</a></li>
                      <li class="drop-menu-item"><a href="#">About</a></li>
                    </ul>
                  </div>
                  <ul class="nav navbar-nav col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 hidden-xs hidden-sm">
                      <li role="presentation" class="active menu-item"><a href="#home">Home</a></li>
                      <li role="presentation" class="menu-item"><a href="#profile">Profile</a></li>
                  </ul>
              </nav>
          </header>
      </section>
      <div class="jumbotron">
          <h1>Welcome to your dashboard!</h1>
          <p>One day this page will be filled with imagination...</p>
          <p>Mongo UserID: <%= uid %></p>
          <a href="/" class="btn btn-lg btn-default">Homepage</a>
          <a href="/logout" class="btn btn-lg btn-danger">Logout</a>
      </div>
      <ng-view>
      </ng-view>
      <footer class="text-center">&copy; <%= new Date().getFullYear() %></footer>
    </body>
</html>
