<!DOCTYPE html>
<html ng-app="module.dashboard" lang="en">
    <head>
        <meta charset="utf-8">
        <title>BLUP</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/dashboard.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/js/controller.dashboard.js"></script>
        <script src="/js/factory.dashboard.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body ng-controller="DashboardController as dashboard" class="container">
      <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><img src="images/client_logo.png" /></a>
        <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
        <div class="form-group search col-xs-7 col-sm-5 col-md-4">
          <input type="text" class="form-control" placeholder="Search" ng-model="userSearch">
        </div>
        <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#mapModal" data-toggle="modal">Map</a>
                </li>
                <li class="nav-item dropdown" ng-model="dashboard.username">
                    <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span ng-bind="dashboard.username"></span></a>
                    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item"><a class="nav-link" href="#exhibits">Beacons</a></li>
                    <li class="nav-item"><a class="nav-link" href="#exhibits">Status</a></li>
                    <li class="nav-item"><a class="nav-link" href="#exhibits">Exhibits</a></li>
                    <li class="nav-item"><a class="nav-link" href="#artifacts">Artifacts</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mapModal">Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="#myModal">Support</a></li>
                </ul>
            </div>
            <!--/col-->

            <div class="col-md-9 col-lg-10 main">

                <!--toggle sidebar button-->
                <p class="hidden-md-up">
                    <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Find</button>
                </p>

                <h1 class="display-1 hidden-xs-down">
                Brooklyn Museum
                </h1>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-inverse card-success">
                            <div class="card-block bg-success">
                                <div class="rotate">
                                    <i class="fa fa-mobile fa-5x"></i>
                                </div>
                                <h6 class="text-uppercase">Devices</h6>
                                <h1 class="display-1">1</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-inverse card-danger">
                            <div class="card-block bg-danger">
                                <div class="rotate">
                                    <i class="fa fa-bluetooth-b fa-4x"></i>
                                </div>
                                <h6 class="text-uppercase">Beacons</h6>
                                <h1 class="display-1">3</h1>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6">
                        <div class="card card-inverse card-info">
                            <div class="card-block bg-info">
                                <div class="rotate">
                                    <i class="fa fa-battery-full fa-5x"></i>
                                </div>
                                <h6 class="text-uppercase">Battery Status</h6>
                                <h1 class="display-1">125</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-inverse card-warning">
                            <div class="card-block bg-warning">
                                <div class="rotate">
                                    <i class="fa fa-share fa-5x"></i>
                                </div>
                                <h6 class="text-uppercase">Shares</h6>
                                <h1 class="display-1">36</h1>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!--/row-->

                <hr>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder text-xs-center">
                        <img src="/images/beacon_blue.png" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                        <h4>Beacon Name</h4>
                        <span class="text-muted">UUID</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder text-xs-center">
                        <img src="/images/beacon_green.png" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                        <h4>Beacon Name</h4>
                        <span class="text-muted">UUID</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder text-xs-center">
                        <img src="/images/beacon_purple.png" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                        <h4>Beacon Name</h4>
                        <span class="text-muted">UUID</span>
                    </div>
                </div>

                <a id="features"></a>
                <hr>
                <hr>

                <a id="flexbox"></a>
                <hr>
                <h2>Current Exhibitions</h2>
                <div class="card-columns">
                    <div class="card" ng-repeat="exhibit in dashboard.exhibits">
                        <img class="card-img-top img-responsive" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/exhibitions/size2/{{exhibit.primary_image}}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">{{exhibit.title}}</h4>
                            <h5>Exhibition open from <span>{{exhibit.start_date}} to {{exhibit.end_date}}</span></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Add</a>
                        </div>
                    </div>
<!--
                    <div class="card card-inverse" ng-style="{'background-image': url(api.primary_image)}">
                        <div class="card-block">
                            <h3 class="card-title">{{api.title}}</h3>
                            <span>{{api.start_date}} - {{api.end_date}}</span>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-secondary-outline">Outline</a>
                        </div>
                    </div> -->
                <!--/card-columns-->

            </div>

            <a id="flexbox"></a>
            <hr>
            <h2 id="artifacts">Museum Artifacts</h2>
            <div class="card-columns">
                <div class="card" ng-repeat="object in dashboard.artifacts">
                    <img class="card-img-top img-responsive" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size2/{{object.primary_image}}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{object.title}}</h4>
                        <span>{{object.object_date}}</span>
                        <p class="card-text">{{object.description}}</p>
                        <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
              </div>

              <!-- <a id="flexbox"></a>
              <hr>
              <h2 id="origin">Object Origins</h2>
              <div class="card-columns">
                  <div class="card" ng-repeat="object in getObject.data">
                      <img class="card-img-top img-responsive" ng-src="https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size2/{{object.primary_image}}" alt="Card image cap">
                      <div class="card-block">
                          <h4 class="card-title">{{object.title}}</h4>
                          <span>{{object.object_date}}</span>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Button</a>
                      </div>
                  </div>
              </div> -->
            <!--/main col-->
        </div>

    </div>
    <!--/.container-->
    <footer class="container-fluid">
        <p class="text-right small">&copy;<%= new Date().getFullYear() %> Blup</p>
    </footer>


    <!-- Modal -->
    <div ng-controller="floorCtrl" class="modal fade" id="mapModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Museum Map</h3>
            </div
            <div class="modal-body">
             <select ng-model="selectedFloor" ng-options="items for item in floors"></select>
              <form class="form-horizontal col-sm-12">
                <div class="maps">
                  <img ng-src="https://s3.amazonaws.com/brooklynmuseum.org-public/visit/images/Floor_Plan_REV_201511_for_web_{{selectedFloor}}F.jpg"
                </div>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
        <!--scripts loaded here-->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Send us your suggestions or questions!</h3>
            </div>
            <div class="modal-body">
              <form class="form-horizontal col-sm-12">
                <div class="form-group"><label>Name</label><input class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text"></div>
                <div class="form-group"><label>Message</label><textarea class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual"></textarea></div>
                <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text"></div>
                <div class="form-group"><label>Phone</label><input class="form-control phone" placeholder="999-999-9999" data-placement="top" data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" type="text"></div>
                <div class="form-group"><button type="submit" class="btn btn-success pull-right">Mail Us!</button>
                <!-- <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; Enter valid input fields. </p></div> -->
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
        <!--scripts loaded here-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

        <script src="js/scripts.js"></script>
      </body>
</html>
