<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <section id="wrapper" class="container">
            <header>
                <nav class="navbar navbar-default">
                    <span role="presentation" class="logo"><a href="#dashboard"><img src="images/logo.png" /></a></span>
                    <div class="dropdown">
                      <button class="btn btn-primary btn-info btn-lg visible-xs visible-sm dropdown-toggle glyphicon glyphicon-th" type="button" data-toggle="dropdown"> Menu
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li class="drop-menu-item"><a href="#">About</a></li>
                        <li class="drop-menu-item"><a href="#">Contact</a></li>
                      </ul>
                    </div>
                    <ul class="nav navbar-nav col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 hidden-xs hidden-sm">
                        <li role="presentation" class="menu-item"><a href="/login">Sign Up</a></li>
                        <li role="presentation" class="menu-item"><a href="#profile">Contact</a></li>
                        <li role="presentation" class="active menu-item"><a href="#home">About</a></li>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="jumbotron row">
              <p class="col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-centered">
                  <a class="btn btn-primary btn-lg" href="/login" role="button">Login Now!</a>
              </p>
              <h1 class="col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-centered">Sign Up</h1>
              <p class="col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-centered">Take the Tour</p>
            </div>
        </section>
        <footer class="text-center">&copy; <%= new Date().getFullYear() %></footer>
    </body>
</html>
