body {
    margin-top: 40px;
}

#tabs h1 {
    margin: 0;
}

#tabs {
    width: 480px;
    margin: 40px auto;
}
.nav-tabs, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    border: none;
}
section#tabs {
    margin: 0 auto;
    text-align: center;
        width: 50%;
}
.nav-tabs>li{
  float: none;
}
button.btn.dropdown-toggle {
  background-color: white;
  width: 100%;
  text-align: left;
}
