@keyframes open {
  0% { transform: translateY(30px)};
  100% { transform: translateY(-30px);};
}
@-webkit-keyframes open {
  0% { transform: translateY(30px)};
  100% { transform: translateY(-30px);};
}
body {
    margin-top: 40px;
}

#tabs h1 {
    margin: 0;
}

#tabs {
    width: 480px;
    margin: 40px auto;
}

#tabs .tab-content {
    padding: 40px;
    border: 1px solid #dddddd;
    border-top: none;
}
.login-form {
  text-align: center;
}
.login-form__padlock-bolt {
  position: relative;
  top: 65px;
  height: 120px;
  background: url('../images/lock-bolt.svg') no-repeat center/contain;
}
.login-form__padlock-bolt.open {
  animation: open 0.3s;
  -webkit-animation: open 0.3s;
  -moz-animation: open 0.3s;
  top: 30px;
}
.login-form__padlock {
  position: relative;
  height: 100px;
  background: url('../images/lock.svg') no-repeat center/contain;
}
.login-form__input {
  font-weight: 200;
  display: block;
  padding: 15px;
  font-size: 18px;
  margin: 15px auto;
  width: 100%;
  border: solid 1px #C0CCDA;
}
.login-form__button {
  font-weight: 200;
  display: block;
  padding: 15px;
  font-size: 18px;
  width: 434px;
  color: #F9FAFC;
  background-color: #1FB6FF;
  border: solid 1px #1FB6FF;
  margin: 15px auto;
}

.login-form__input:focus {
  outline: none;
}

.login-form__button:focus {
  outline: none;
}

.login-form__button:hover {
  background-color: #009EEB;
  border-color: #009EEB;
}
