html, body {
  height: 100%;
}

body {
  font-family: helvetica;
  font-weight: 100;
  font-size: 14px;
  margin: 0 auto;
}

footer{
  text-align: center;
}

.input-group.search{
      width: 400px;
      margin: 0 auto;
}

.repeat-box.ng-scope {
    width: 250px;
    margin: 0 auto;
}

button.btn.btn-primary {
    display: block;
    margin: 0 auto;
}

.input-group.card {
    max-width: 400px;
}

.input-group.search {
    width: 500px;
    margin: 0 auto;
}

.cards.ng-scope {
    border: none;
}
span.social{
  margin: 20px;
}

img.card-img-top.img-thumbnail{
  display: block;
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: none;
}

.card {
    border: none;
}

.card.repeat {
    border-radius: 10px;
}

.card-group {
    margin-top: 50px;
    text-align: center;
}

.card-footer {
    background: none !important;
    border: none;
}
.card-columns {
    padding-top: 45px;
    margin: 0 auto !important;
    display: block;
}
.card-block {
    max-width: 800px;
    margin: 0 auto;
}
